[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "alembic>=1.17.1",
    "fastapi>=0.120.0",
    "sqlalchemy>=2.0.44",
    "uvicorn>=0.38.0",
]
